{% extends "explore/templates/explore_template.html" %}

{% block title %} Explorar a Mapa {% endblock %}

{% block main %}


<h1>Apregoar</h1>
<h2>O que é que se passa</h2>
<div class="inlineSection">
    <button class="button1" id="filtrarHistorias" onclick="showFilters()">Filtrar</button>
    <!--
        <button class="button1" id="saveFilters" onclick="saveFilters()">Guardar definições</button>
        <button class="button1" id="saveResults" onclick="saveResults()">Guardar resultados</button>
    -->
</div>

<div class="resultsArea" id="resultsArea">
    <div id="storyArea" class="cardArea">
        <div id="storyCount" class="cardCount"></div>
        <div class="resultsStory" id="resultsStory"></div>
    </div>
    <div id="instanceArea" class="cardArea">
        <div id="instanceCount" class="cardCount"></div>
        <div class="resultsInstance" id="resultsInstance"></div>
    </div>
    
</div>
<div id="mapContainer" class="mapContainer">
    <div id="map" class="map"></div>
</div>

<div id="popupContainer" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popupTitle" class="popup-ititle"></div>
    <div id="popupContent" class="popup-stitle"></div>
    <div id="popupScroll" class="popup-scroll" style="display:block">
        <div id="scrollL" class="popup-direction">&larr;</div>
        <div id="scrollCount" class="popup-count"></div>
        <div id="scrollR" class="popup-direction">&rarr;</div>
    </div>
    
</div>
<div id="focusResult">
    <div id="deetsOverlay" style="display:none" class="dO"></div>
</div>

<br>

<div id="filterOverlay" class="filterOverlay" style="display:none">
    <h3>Filtrar</h3>
    <br>
    <!-- STORY LEVEL FILTERS -->
    <div class="filterSection">
        <div class="filterLine" id="datesP">
            <div class = "filterItem">
                <h5>Filtros Histórias</h5>
            </div>
            <div class = "filterItem">
                <label for="from">De</label>
                <input type="text" id="from" name="from" autocomplete="off" >
                <label for="to">à</label>
                <input type="text" id="to" name="to" autocomplete="off" >
            </div>
            <div class = "filterItem">
                <input type="checkbox" id="allPub"></input>
                <label for="allPub">Todos</label>
            </div>
        </div>
        <br>
        <div class="filterLine" id="filtersP">
            <div class = "filterItem">
                <select id="checksTags">
                    {% for i in tags %}
                        {% set name = i %}
                        {% set count = tags[i]["total_t"] %}
                        <option value="{{ name }}">{{ name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class = "filterItem">
                <select id="checksSections">
                    {% for i in sections %}
                        {% set name = i %}
                        {% set count = sections[i]["total_s"] %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class = "filterItem">
                <select id="checksPublications">
                    {% for i in publications %}
                        {% set name = i %}
                        {% set count = publications[i]["total_p"] %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class = "filterItem">
                <select id="checksAuthors">
                    {% for i in authors %}
                        {% set name = i %}
                        {% set count = authors[i]["total_a"] %}
                        <option value="{{ name }}">{{ name }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    
    <br>

    <!-- Instance LEVEL FILTERS -->
    <div class="filterSection">
        <div class="filterLine" id="datesI">
            <div class = "filterItem">
                <h5>Filtros de Instâncias</h5>
            </div>
            <div class = "filterItem">
                <label for="fromI">De</label>
                <input type="text" id="fromI" name="fromI">
                <label for="to">à</label>
                <input type="text" id="toI" name="toI">
                <input type="checkbox" id="allInst"></input>
                <label for="allInst">Todas datas</label>
            </div>
        </div>
        <div class="filterLine" id="filtersI">
            <div class = "filterItem">
                <select id="checksT_types">
                    {% for i in t_types %}
                        {% set name = i[0] %}
                        {% set count = i[1].total_s %}
                        <option value="{{ name }}">{{ name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class = "filterItem">
                <select id="checksP_types">
                    {% for i in p_types %}
                        {% set name = i[0] %}
                        {% set count = i[1].total_s %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class = "filterItem">
                <select id="checksE_names">
                    {% for i in e_names %}
                        {% set name = i[0] %}
                        {% set count = i[1].total_i %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class = "filterItem">
                <input type="text" id="pNameSearch" placeholder="Pesquisar lugares">
            </div>
        </div>
    </div>

    <br>
    <!-- SPATIAL MAP FILTER -->
    <div class="filterSection">
        <div class="filterLine">
            <h5>Desenhar uns áreas de pesquisa</h5>
            <div class="filterItem">
                <p>Filtra os resultados para lhes que as áreas desenhadas:</p>
                <input type="radio" id="containTotal" name="drawFType" value="containTotal">
                <label for="containTotal">Contêm completamente</label>
                <input type="radio" id="containPartial" name="drawFType" value="containPartial" checked="checked">
                <label for="containPartial">Contêm completamente ou partialmente</label>
                <input type="radio" id="intersects" name="drawFType" value="intersects">
                <label for="intersects">Contêm ou por quais são contidos </label>
                <input type="radio" id="disjoint" name="drawFType" value="disjoint">
                <label for="disjoint">Não correspondem</label>
            </div>
        </div>
        <button class="button2" id="limparDraw" onclick="clearDraw()">Limpar mapa</button>
        <div id="filterMap" class = "map"></div>
    </div> 
    <br>
    <!-- SAVE AND CLEAN BUTTONS -->
    <button class="button1" id="saveFilters" onclick="saveDraw()">Filtrar</button>
    
</div>





<div id="filterResults" style="display:none">
    <div id="recentResults"></div>
    <div id="storyResults"></div>
    <div id="instanceResults"></div>
</div>

<script>
    //const pubDate1 = new Date('{{ pub_dates[0][0] }}');
    const pubDate1 = new Date('{{ pubDateRange["min"] }}');
    const pubDate2 = new Date('{{ pubDateRange["max"] }}');
    const recentDate1 = new Date('{{ allDates["pubdateR1"] }}');
    const recentDate2 = new Date('{{ allDates["pubdateR2"] }}');
   
    //const pubDate2 = new Date('{{ pub_dates[-1][0] }}');
    const iDate1 = new Date ('{{ i_range["i_start"]}} ');
    const iDate2 = new Date ('{{ i_range["i_end"]}} ');
</script>

<script src="{{ url_for('static', filename='js/explore.js') }}"></script>

{% endblock %}