{% extends "explore/templates/explore_template.html" %}

{% block title %} Explorar a Mapa {% endblock %}

{% block main %}


<h1>Apregoar</h1>
<h2>Explorar a mapa</h2>

<div id="map" class="map"></div>
<div id="filterResults">
    <div id="recentResults"></div>
    <div id="storyResults"></div>
    <div id="instanceResults"></div>
</div>

<div id = "resultsList"></div>

<form method ="post">
    <!-- STORY LEVEL FILTERS -->
    <div class="filterLine" id="datesP">
        <div class = "filterItem">
            <h5>Filtros Histórias</h5>
        </div>
        <div class = "filterItem">
            <label for="from">De</label>
            <input type="text" id="from" name="from">
            <label for="to">à</label>
            <input type="text" id="to" name="to">
        </div>
        <div class = "filterItem">
            <input type="checkbox" id="allPub"></input>
            <label for="allPub">Todos</label>
        </div>
    </div>
    <div class="filterLine" id="filtersP">
        <div class = "filterItem">
            <select id="checksTags">
                {% for i in tags %}
                    {% set name = i %}
                    {% set count = tags[i]["total_t"] %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
        <div class = "filterItem">
            <select id="checksSections">
                {% for i in sections %}
                    {% set name = i %}
                    {% set count = sections[i]["total_s"] %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
        <div class = "filterItem">
            <select id="checksPublications">
                {% for i in publications %}
                    {% set name = i %}
                    {% set count = publications[i]["total_p"] %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
        <div class = "filterItem">
            <select id="checksAuthors">
                {% for i in authors %}
                    {% set name = i %}
                    {% set count = authors[i]["total_a"] %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <!-- STORY LEVEL FILTERS -->
    <div class="filterLine" id="datesI">
        <div class = "filterItem">
            <h5>Filtros de Instâncias</h5>
        </div>
        <div class = "filterItem">
            <label for="fromI">De</label>
            <input type="text" id="fromI" name="fromI">
            <label for="to">à</label>
            <input type="text" id="toI" name="toI">
            <input type="checkbox" id="allInst"></input>
            <label for="allInst">Todas datas</label>
        </div>
    </div>
    <div class="filterLine" id="filtersI">
        <div class = "filterItem">
            <select id="checksT_types">
                {% for i in t_types %}
                    {% set name = i[0] %}
                    {% set count = i[1].total_s %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
        <div class = "filterItem">
            <select id="checksP_types">
                {% for i in p_types %}
                    {% set name = i[0] %}
                    {% set count = i[1].total_s %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
        <div class = "filterItem">
            <select id="checksE_names">
                {% for i in e_names %}
                    {% set name = i[0] %}
                    {% set count = i[1].total_i %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
        <div class = "filterItem">
            <input type="text" id="pNameSearch" placeholder="Pesquisar lugares">
        </div>
    </div>
    <button type="submit">Guardar</button>
</form>

<script>
    //const pubDate1 = new Date('{{ pub_dates[0][0] }}');
    const pubDate1 = new Date('{{ pubDateRange["min"] }}');

    const pubDate2 = new Date('{{ pubDateRange["max"] }}');
    //const pubDate2 = new Date('{{ pub_dates[-1][0] }}');
    const iDate1 = new Date ('{{ i_range["i_start"]}} ');
    const iDate2 = new Date ('{{ i_range["i_end"]}} ');
    console.log("pubDate range: ", pubDate1," - ",pubDate2)
    console.log("type of pubDates: ",typeof pubDate1);
</script>

<script src="{{ url_for('static', filename='js/explore.js') }}"></script>

{% endblock %}