<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Import the Bootstrap stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">

  <!-- Import our custom stylesheet -->
  <link rel = "stylesheet" href="{{ url_for('static', filename='css/explore_style.css') }}">

  <title>{% block title %}{% endblock title %}</title>
  <!-- https://www.codeproject.com/Tips/5162015/Multi-select-Check-Box-List-or-Checkbox-Dropdown-w -->

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <!-- JQUERY UI FOR SLIDER -->
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/">Apregoar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('explore') }}">Explorar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('explore_help') }}">Ajuda</a>
        </li>
      </ul>
    </div>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('publisher_dashboard')}}">Jornais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Geradores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('explore') }}">Exploradores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('render_profile') }}">Profile</a>
        </li>
      </ul>
    </div>
  
  </nav>


  <!-- Import OpenLayers JavaScript -->
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>

  <main>
    {% block main %}
    {% endblock main %}
  </main>

    <!-- Import jquery 3.3.1 slim min 
  <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>-->
  <!-- Import Bootstrap bundle -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=fetch,requestAnimationFrame,Element.prototype.classList,URL,TextDecoder,Number.isInteger"></script>
  {% block script %}{% endblock %}
  

</body>

</html>

