<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <link href="../../static/css/publish.css" rel="stylesheet"> 
    {% block body %}
        <h1>Publish a Spatial/Temporal Reference</h1>
    {% endblock %}

        <form name="addStory" action="{{ url_for('storyadd')}}" method="post">
            <h3>Enter the article details</h3>
            <!-- Required fields -->
            <h5> Required fields </h5>
            <div>
                    <input type="text" id="title" name="title" placeholder="Title" required minlength="6">
                    <span class="error" aria-live="polite"></span>
            </div>
            <div>
                <input type="date" id="pubDate" name="pubDate" placeholder="Date of Publish">
                <span class="error" aria-live="polite"></span>
            </div>
            <div>
                <input type="text" id= "webLink" name="webLink" placeholder="Link to Story" required minlength="6">
                <span class="error" aria-live="polite"></span>
            </div>
            <div>
                <input type="text" id ="publication" name="publication" placeholder="Revista" required minlength="4">
                <span class="error" aria-live="polite"></span>
            </div>
            <!-- Optional fields -->
            <h5> Recommended fields </h5>
            <div>
                <input type="text" name="summary" placeholder="Summary">
            </div>
            <div>
                <input type="text" name="section" placeholder="Section">
            </div>
            <div>
                <input type="text" name="tags" placeholder="Tags (separate by commas: ',')">
            </div>
            <div>
                <input type="text" name="author" placeholder="Author">
            </div>
        <div>
            <button>Save</button>
        </div>
    </form>

    <script>
        const form = document.getElementsbyTagName('addStory')[0];

        const vtitle = document.getElementbyId('title');
        const vtitleError = document.querySelector('#title + span.error');
        vtitle.addEventListener('input', function (event) {
            //Each time the user types something, we check if the form fields are valid
            if (vtitle.validity.valid) {
                //In case there is an error message visible, if the field is valid, we remove the error message.
                vtitleError.innterHTML = ''; //Reset the content of the message
                vtitleError.className = 'error'; //reset the visual state of the message
            } else {
                // If there is still an error, show the correct error
                showError();
            }
        });
        form.addEventListener('submit', function (event) {
            if (!vtitle.validity.valid) {
                // If it isn't, we display the appropriate error message
                showError();
                //Then prevent the form from being sent by canceling the event
                event.preventDefault();
            }
        });
        function showError() {
            if(vtitle.validity.valueMissing) {
                //If the field is empty display the following error message
                vtitleError.textContent ="Enter Title";
            } else if(vtitle.validity.tooShort) {
                //If the data is too short display the following error message.
                vtitleError.textContent = "Title should be at least ${ vtitle.minLength } characters.";
            }
            //Set the styling
            vtitleError.className = 'error active';
        }

    </script>

    </body>
</html>