{% extends "jornal/templates/jornal_template.html" %}

{% block title %} Explorar a Mapa {% endblock %}

{% block main %}

<style>
    
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .top {
        top: 0;
        height: 60%;
        position: fixed;
        /*overflow: hidden;*/
    }

    .bottom {
        bottom: 0;
        height: 40%;
        position: fixed;
        overflow: hidden;
    }
</style>

<div class = "split left">
    <div id="tagList">
        {% for tag in tags %}
            {{ tag }}
        {% endfor %}
    </div>
    <h2>Lista das notícias</h2>
    <div id="listNoticias">


    </div>
</div>

<div class="split right top">
    <div id="tagMap" style="display:block">
        <div class="wrapper">
            <div id="map" class="map"></div>
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-instances" display="none"></div>
                <div id="popup-story"></div>
                <br>
                <div id="instanceScroll" style="position:absolute; left: 8px; bottom: 2px; right:8px;">
                    <a href="#" id="popup-pageahead" class="ol-popup-pageahead"></a>
                    <div id="popup-instance-count" style="text-align: center; font-size: 11px"></div>
                    <a href="#" id="popup-pagebehind" class="ol-popup-pagebehind"></a>
                </div>                
            </div>
            <div id="progress"></div>
        </div>
    </div>
    <div id="info">
        <i>placeholder text</i>
    </div>
    <div id="featureCount">
        <p># Instances: {{ num_instances }}</p>
    </div>
    <hr>
</div>

<div class="split right bottom">
    <h1>Tags </h1>
    {% for tag in allTags %}
        <button type="button" class="btn btn-primary">{{ tag }}</button>
    {% endfor %}
    <i>This should allow hte addition of new tags to the map</i>
</div>

<script>
    var geonoticias  = JSON.parse(' {{ geonoticia | tojson | safe }} ');
    console.log("geonoticias: ",geonoticias);
    if (geonoticia.instances) {
        console.log("geonoticias instance id: ", geonoticia.instances[0].i_id);
    } else {
        console.log("No instances associated");
    }
</script>

<script src="{{ url_for('static', filename='js/jornal.js') }}"></script>

{% endblock %}