{% extends "jornal/templates/historia_template.html" %}

{% block title %}{{ geonoticia["title"]}}{% endblock %}

{% block main %}



<div>
    <iframe id ="iframeH" src="{{ geonoticia['web_link'] }}" onerror="badIFrame()" onload="goodIFrame()"></iframe>
    <div id="noArticle" class="noticiaArea" style="display:none;">
        <div class="noticiaPublication">{{ geonoticia.publication }}</div>
        <br>
        <div class="noticiaTitle" style="text-transform: capitalize;"> {{ geonoticia.title }} </div>
        <div class="noticiaAuthor"> {{geonoticia.author}}</div>
        <div class="noticiaPubDate"> {{geonoticia.pub_date}} </div>
        <br>
        <div class="noticiaSummary"> {{geonoticia.summary}} </div>
        <br>
        <a href="{{ geonoticia['web_link'] }}">
            <button class="button2" >Ver Original</button>
        </a>
        
    </div>
</div>
<div id="instanceArea">
    <div class="split left">
        <div id="jornalMap" style="display:block">
            <div class="wrapper">
                <div id="map" class="map"></div>
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div class="popupContent">
                        <div id="popup-instances"></div>
                        <div id="popup-story" display="none"></div>
                    </div>
                    <br>
                    <div id="instanceScroll" style="position:absolute; left: 8px; bottom: 2px; right:8px;">
                        <a href="#" id="popup-pageahead" class="ol-popup-pageahead"></a>
                        <div id="popup-instance-count" style="text-align: center; font-size: 11px"></div>
                        <a href="#" id="popup-pagebehind" class="ol-popup-pagebehind"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "split right instanceInst" id="info">
            <p class="instInstText">Ver mais a pé</p>
        <div id="nearbyButtonArea" class="mapSelect"></div>
    </div>
</div>
<div id="instanceAreaNo" class="noInstanceArea" style="display:none">
    
</div>


<!-- JAVASCRIPT -->
<script>
    let nearbys;
    var instancesExist = false;
    var geonoticia  = JSON.parse(' {{ geonoticia | tojson | safe }} ');
    if (geonoticia.instances) {
        console.log("geoinstancias: ",geonoticia.instances);
        //console.log("geonoticias instance id: ", geonoticia.instances[0].i_id);
    } else {
        console.log("No instances associated");
    }
    if ('{{ num_instances }}' == 0){
        instancesExist = false;
        
    } else if ('{{ nearbys }}'.length == 0){
        console.log("no nearbys");

    } else {
        nearbys = JSON.parse(' {{ nearbys | tojson | safe }} ');
        console.log(nearbys);
        instancesExist = true;
    };
    console.log("instancesExist: ",instancesExist);    
    const doc_source = "historias";
    publication = JSON.parse('{{ publication | tojson | safe }} ');
    console.log("publication: ",publication);

</script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{{ url_for('static', filename='js/jornal.js') }}"></script>
{% endblock %}