{% extends "jornal/templates/jornal_template.html" %}

{% block title %}{{ geonoticia["title"]}}{% endblock %}

{% block main %}

<style>
    
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .top {
        top: 0;
        height: 60%;
        position: fixed;
        /*overflow: hidden;*/
    }

    .bottom {
        bottom: 0;
        height: 40%;
        position: fixed;
        overflow: hidden;
    }

    #iframeH {
        height: 100%;
        width: 100%;
    }

</style>

<div class="split left">
    <iframe id ="iframeH" src="{{ geonoticia['web_link'] }}" style="top: 0;"></iframe>
</div>
<div class="split right top">
    <div id="jornalMap" style="display:block">
        <div class="wrapper">
            <div id="map" class="map"></div>
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-instances"></div>
                <div id="popup-story" display="none"></div>
                <br>
                <div id="instanceScroll" style="position:absolute; left: 8px; bottom: 2px; right:8px;">
                    <a href="#" id="popup-pageahead" class="ol-popup-pageahead"></a>
                    <div id="popup-instance-count" style="text-align: center; font-size: 11px"></div>
                    <a href="#" id="popup-pagebehind" class="ol-popup-pagebehind"></a>
                </div>
                
            </div>
            <div id="progress"></div>
        </div>
    </div>
    <div id="info">&nbsp;</div>
    <div id="featureCount"></div>;
</div>
<div class="split right bottom">
        <p>This is bottom text</p>
        <p>Number of instances: {{ numInstances }} </p>
        <p>s_id: {{ geonoticia.s_id }}</p>
        <p> {{ geonoticia }} </p>
</div>
    
<script>
    var geonoticia  = JSON.parse(' {{ geonoticia | tojson | safe }} ');
    console.log("geonoticia: ",geonoticia);
    console.log("geonoticias instance id: ", geonoticia.instances[0].i_id);
</script>

<script src="{{ url_for('static', filename='js/jornal.js') }}"></script>

<div id="jornalMap" style="display:block">
    <div class="wrapper">
        <div id="map" class="map"></div>
        <div id="progress"></div>
    </div>
</div>

{% endblock %}