{% extends "jornal/templates/jornal_template.html" %}

{% block title %}{{ publication.p_name }}{% endblock %}

{% block main %}
<div class="jTitle">
    <h1>{{ publication.p_name }}</h1>
</div>

<div class="userArea">
    <div class="seeSections">
        {% for i in bigSections %}
            {% set name = i %}
             <button class="sectionB" value="{{ name }}">{{ name }}</button> 
        {% endfor %}
        <button class="maisB">Mais</button>
    </div>
</div>



<div class="centerArea">
    <div class="seeAuthors">
        {% for i in jVals.authors %}
            {% set name = i %}
            {% set count = jVals.authors[i]["total_a"] %}
            <button value="{{ name }}">{{ name }} ({{ count }})</button>
        {% endfor %}
    </div>

    <div class="mapArea">
        <div id="map" class="mapAll"></div>
    </div>
    
    <div class="seeTags">
        {% for i in jVals.tags %}
            {% set name = i %}
            {% set count = jVals.tags[i]["total_t"] %}
            <button value="{{ name }}">{{ name }}</button>
        {% endfor %}
    </div>

</div>

<div id="timeAdjust" class="timeArea">
    {{ jVals.dates.pubdate1}} - {{ jVals.dates.pubdate2}}
</div>



<script>
    const p_name = '{{ publication.p_name }}';
    eID = '{{ e_id }}';
    const doc_source = "jornal_map";;
    publication = JSON.parse('{{ publication | tojson | safe }} ');
    jVals = JSON.parse('{{ jVals | tojson | safe }}');
    const pubDate1 = new Date('{{ jVals.pub_date_range.min }}');
    const pubDate2 = new Date('{{ jVals.pub_date_range.max }}');
</script>

<script src="{{ url_for('static', filename='js/jornal.js') }}"></script>

{% endblock %}