{% extends "jornal/templates/jornal_template.html" %}

{% block title %}{{ publication.p_name }}{% endblock %}

{% block main %}
<div class="jTitle">
    <h1>{{ publication.p_name }}</h1>
</div>
<p>{{ e_id }}</p>
<p>{{ publication.p_id }}</p>

<div class="seeSections">
    {% for i in jVals.sections %}
        {% set name = i %}
        {% set count = jVals.sections[i]["total_s"] %}
        <button class="sectionB" value="{{ name }}">{{ name }}</button>
    {% endfor %}
    
</div>

<div class="centerArea">
    <div class="seeAuthors">
        {% for i in jVals.authors %}
            {% set name = i %}
            {% set count = jVals.authors[i]["total_a"] %}
            <button value="{{ name }}">{{ name }} ({{ count }})</button>
        {% endfor %}
    </div>

    <div class="mapArea"></div>
    
    <div class="seeTags">
        {% for i in jVals.tags %}
            {% set name = i %}
            {% set count = jVals.tags[i]["total_t"] %}
            <button value="{{ name }}">{{ name }}</button>
        {% endfor %}
    </div>

</div>




<script>
    const p_name = '{{ publication.p_name }}';
    eID = '{{ e_id }}';
    const doc_source = "jornal_map";
    console.log("pubJornal: ",p_name);

    
</script>

<script src="{{ url_for('static', filename='js/jornal.js') }}"></script>

{% endblock %}