{% extends "jornal/templates/jornal_template.html" %}

{% block title %}{{ publication.p_name }}{% endblock %}

{% block main %}



<div class="jTitle">
    <h1>{{ publication.p_name }}</h1>
</div>

<div class="userArea">
    <div class="seeSections">
        {% for i in bigSections %}
            {% set name = i %}
             <button class="sectionB" value="{{ name }}">{{ name }}</button> 
        {% endfor %}
        <button class="maisB">Mais</button>
    </div>
</div>



<div class="centerArea">
    <div class="bubbleFilters"></div>
    <div class="seeFilters">
        <div class="seeAuthors">
            <select id="checksAuthors">
                {% for i in jVals.authors %}
                    {% set name = i %}
                    {% set count = jVals.authors[i]["total_a"] %}
                    <option value="{{ name }}">{{ name }} ({{ count }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="seeTags">
            <select id="checksTags">
                {% for i in jVals.tags %}
                    {% set name = i %}
                    {% set count = jVals.tags[i]["total_t"] %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="filterReady">
            <button class="maisB filtrarB">Atualizar</button>
        </div>
        <div class="resultsArea"></div>
    </div>
    <div class="mapArea">
        <div id="map" class="mapAll"></div>
    </div>
</div>

<div id="timeAdjust" class="timeArea">
    <div class="wrapperSlider">
        <div class="valuesSlider">
            <span id="range1">{{ jVals.dates.idate1}}</span>
            <span> &dash; </span>
            <span id="range2">{{ jVals.dates.idate2 }}</span>
        </div>
        <div id = "containerSlider" class="containerSlider">
            <div class="slider-track"></div>
            <!--
            <input type="range" min="{{ jVals.dates.pubdate1}}" max="{{ jVals.dates.pubdate2}}" value="{{ jVals.dates.pubdate1}}" id="slider-1" oninput="slideOne()">
            <input type="range" min="{{ jVals.dates.pubdate1}}" max="{{ jVals.dates.pubdate2}}" value="{{ jVals.dates.pubdate2}}" id="slider-2" oninput="slideTwo()">
            -->
        </div>
        <input type="checkbox" id="ifromforever" name="ifromforever" value="ifromforever" oninput="adjustRange()">
        <label for="ifromforever">Só inclui instâncias dentro um ano</label>
    </div>
</div>




<script>
    const p_name = '{{ publication.p_name }}';
    eID = '{{ e_id }}';
    const doc_source = "jornal_map";;
    publication = JSON.parse('{{ publication | tojson | safe }} ');
    jVals = JSON.parse('{{ jVals | tojson | safe }}');
    const pubDate1 = new Date('{{ jVals.pub_date_range.min }}');
    const pubDate2 = new Date('{{ jVals.pub_date_range.max }}');
    const iDate1 = new Date('{{ jVals.dates.idate1 }}');
    const iDate2 = new Date('{{ jVals.dates.idate2 }}');
</script>

<script src="{{ url_for('static', filename='js/jornal.js') }}"></script>

{% endblock %}