<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block body %}
        <h1>Profile</h1>
    {% endblock %}
    <h1 id="welcome"></h1>
    
    <script>
        currentuser = "{{currentuser}}";
        const welcomeU = document.getElementById('welcome');
        welcomeU.innerHTML = `<h3>${currentuser}</h3>`;
    </script>
    <div>
        <a href="/addstory"><button> Click here to publish articles </button></a> 
    </div>
    <div>
        <a href="/localize"><button> Draw Polygons </button></a>
    </div>

    

    </body>
</html>