<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!--
<!DOCTYPE html>
<html>
<head>
    -->

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet"> 
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>



<style>
    /*https://www.w3schools.com/howto/howto_css_split_screen.asp*/
    /*Control the left side*/
    .left {
        left: 0;
        width: 38%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
    }

    /*Control the right side*/
    .right {
        right: 0;
        width: 60%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
    }

    .calculation-box {
        height: 100px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        right: 10px;
        background-color: rgb(255, 255, 255);
        padding: 15px;
        text-align: center;
    }

    .p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
    }
    #mapDesign { position: relative; top: 0; right: 0; width: 100%; height:100% }

</style>
    


<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
<!--<link href="../../static/css/publish.css" rel="stylesheet"> -->

{% extends "publisher/templates/publisher_template.html" %}

{% block title %}Notícia Nova{% endblock %}

{% block main %}

<!--<script src="{{ url_for('static', filename='js/create.js') }}"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<div class="container">
  <div class="row">
    <div class="col">
    
        <h1>Localizar as Notícias</h1>
        <h3>{{ story["title"] }}</h3>
        
        <div id="mapDesign" style="display:none"></div>
        <div id="eGazMap" style="display:block">
            <div id="map" class="map"></div>
        </div>

        <div class="card" id="save_instance" >
            <p> Definir uma instância (tempo e sítio) da notícia
                <a 
                    href="#" 
                    data-toggle="tooltip" 
                    title="Cada instância é uma oportunidade de elaborar onde e quando uma coisa está a acontacer. Cada notícia pode ter algumas notícias, e cada instância pode ter alguns sítios (polígonos). Escreve um ou mas polígonos aqui, dar um nome (não precisa de ser oficial) e uma descrição. Definir as datas do início e o fim, um tipo de interval temporal, e afinal um descrição.">
                    <span class="material-icons">info</span>
                </a>
            </p>
            <br>   
            <h4>Localização/ões</h4>
            <!-- TOGGLE -->
            <div class="container1">
                <label class="switch">
                    <input id ="tswitch" type="checkbox" onclick = "toggleLocalization()">
                    <span class="slider round"></span>
                </label>
            </div>

            <!-- USE EGAZ (EXISTING) -->
            <div id="useEgaz" style="display:block">
                <h5>Carregar localizações existentes</h5>
                <div id="gazAdmin">
                    {% if eGazF|length > 0 %}
                    <!--
                        <input list="listEGaz" id="entryEGaz" name="entryEGaz" placeholder="Gazetteer Administrativa" required>
                        <datalist id="listEGaz">
                            {% for eGazItem in eAGaz %}
                                <option value="{{ eGazItem.name }}">({{ eGazItem.type }})</option> 
                            {% endfor %}
                        </datalist>
                    -->
                        <p><b>Freguesias</b></p>
                        <select id="entryEGaz" name="entryEGaz" multiple>
                            {% for eGazItem in eGazF %}
                                <option value="{{ eGazItem.e_ids }}">{{ eGazItem.name }}</option>
                            {% endfor %}
                        </select>
                        
                    
                    {% else %}
                        <p><em>Desculpa, as áreas existentes não carregeram.</em></p>
                    {% endif %}
                </div>
                <br>
                <button type="button" class="btn btn-primary" onclick="vizEgaz('freguesia')">Junta-lhes à instância</button>
                <br>
                <div id="selectedEgaz"></div>
                   
            </div>
            <br>
            <div id="futureDev">
                <p><em>Coming soon:</em> Implementation of selection between gazetteers (community, organizational, personal)</p>
            </div>    
                
            <!-- DESIGN NEW (UGAZ) -->
            
            <div id="newUgaz" style="display:none">
                <h5>Desenhar uns localizações novos</h5>
                <p>Número dos polígonos:</p>
                <div id="calculated-area" style="color:red"></div> 
                <div id="selectName">
                    <input type="text" id="pName" name="pName" placeholder="Nome do sítio" required>
                    <span class="error" aria-live="polite"></span>
                </div>
                <div id="selectGeom" style="color:red" ></div>
            </div>

            <br>                       
            <div id="selectDesc">
                <input type="text" id="pDesc" name="pDesc" placeholder="Descrição do sítio">
            </div>
            <br>
            <div>
                <strong>Hora(s)</strong>
                <div>
                    <label for="allday_y">Todo o dia</label><input type="radio" id="allday_y" name="allDay" value="allday_y" onClick="timeDefD()" checked="checked">
                    <label for="allday_n">Horas específicas</label><input type="radio" id="allday_n" name="allDay" value="allday_n" onClick="timeDefH()">
                        
                </div>
                <div>
                    <input type="date" id="tBegin" name="tBegin" required> <input type="date" id="tEnd" name="tEnd"  required>
                </div>
                <br>
                <div>
                    <input type="text" id="tDesc" name="tDesc" placeholder="Temporal description">
                </div>
            </div>
            <br>
            <div id="successAnnouncement"></div>
            <div id="formButton"></div>
        </div>
        <br>
        <div class="card">
            <div id="btnReturn"></div>
            <button type="button" class="btn btn-primary" onclick=limparTudo()>Limpar tudo</button>
        </div>
    </div>
</div>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

<script>

    // Loading mapbox background    
	mapboxgl.accessToken = 'pk.eyJ1IjoiY3dlbnRsaW5nIiwiYSI6ImNqd2F0cmVvajA5bHAzemx6NDF3bmZ6NGsifQ.2qy1Q4WfMf4XFllp2v96HQ';
    const mapDesign = new mapboxgl.Map({
        container: 'mapDesign', // container ID
        style: 'mapbox://styles/cwentling/cksfd4uh6532w18nt3bbtxtae', // style URL
        center: [-9.150404956762742, 38.72493479806579], // starting position [lng, lat]
        zoom: 13 // starting zoom
    });

    // Add the control to the map.
    mapDesign.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );
    
    //Drawing controls to polygon design
    const draw = new MapboxDraw({
        displayControlsDefault: false,
        // Select which mapbox-gl-draw control buttons to add to the map.
        controls: {
            polygon: true,
            trash: true
        },
        // Set mapbox-gl-draw to draw by default.
        // The user does not have to click the polygon control button first.
        defaultMode: 'draw_polygon'
    });

    // Loading story info
    var sID = '{{ sID }}';
    console.log("sID is: ");
    console.log(sID);
    var mapStoryFilter = "s_id="+sID;
    console.log("Map filter: ",mapStoryFilter);
    var mapEAGazFilter = "";

    //Toggle Map Views (using existing gaz vs. design new place)
    function toggleLocalization(){
        //Get the checkbox
        var tswitch = document.getElementById("tswitch");
        //Get output text
        var newUgaz = document.getElementById("newUgaz");
        var useEgaz = document.getElementById("useEgaz");
        var seeMap = document.getElementById("mapDesign");
        var eGazMap = document.getElementById("eGazMap");

        //If the checkbox is checked, display the output text
        if (tswitch.checked == true){
            console.log("Should show Ugaz");
            newUgaz.style.display = "block";
            seeMap.style.display = "block";
            useEgaz.style.display = "none";
            eGazMap.style.display = "none";
        } else {
            console.log("Should show Egaz");
            newUgaz.style.display = "none";
            seeMap.style.display = "none";
            useEgaz.style.display = "block";
            eGazMap.style.display = "block"; 
        }
    }

    const selectedEgaz = document.getElementById("selectedEgaz");
    let selectedP = [];
    const eGazAll = "{{ eGazF }}";
    console.log("eGazAll: ",eGazAll)
    let selectedPNames = [];

       

    // Visualize selection of eGaz item on the map
    function vizEgaz(typeGaz) {
        selectedPNames = []; //Should be removed when handling multiples
        console.log("test of input type",typeGaz);
        console.log("We entered the onclick of the datalist");
        var eaGazItem = document.getElementById("entryEGaz");
        console.log("eaGazItem.value: ",eaGazItem.value)
        eaID = eaGazItem.value;
        console.log("eaID is type ",typeof(eaID));
        mapEAGazLayers = "apregoar:admin_gaz";
        mapEAGazFilter = "e_ids = '"+eaID+"'";
        console.log("mapFilter: ");
        console.log(mapEAGazFilter);
        selectedP.push(eaID);
        console.log("selectedP = ",selectedP," of type ",typeof(selectedP));
        

        //List selected places
        for (place in selectedP){
            console.log("Place type: ",typeof(place));
            for (gaz in eGazAll) {
                if (gaz.e_ids == place) {
                    console.log("match! ",place);
                    selectedPNames.push(gaz);   
                }
                else {
                    console.log("no match");
                }
            }
        }
        selectedEgaz.innerHTML = selectedPNames;

        // Add eGaz shapes
        const wmsSourceEAGaz = new ol.source.ImageWMS({
            url: 'http://localhost:8080/geoserver/apregoar/wms',
            /*params: {"LAYERS":"apregoar:geonoticias"},*/ //OG
            params: {"LAYERS":"apregoar:admin_gaz",
                "cql_filter":mapEAGazFilter}, //Set on each individual page
            serverType: 'geoserver',
            crossOrigin: 'anonymous',
        });
        const wmsLayerEAGaz = new ol.layer.Image({
            source: wmsSourceEAGaz,
            style: styleGazAdmin,
        });
        wmsLayerEAGaz.setOpacity(0.9);
        map.addLayer(wmsLayerEAGaz);
        console.log("Egaz added to map")

    
    }

    //Return to previous story button
    const btnReturn = document.getElementById("btnReturn");
    btnReturn.innerHTML = '<a href="/publisher/'+sID+'/review"> <button type ="button" class="btn btn-primary">Volta à notícia</button> </a>';

    //Setting default temporal inputs
    const tBeginInput = document.getElementById("tBegin");
    const tEndInput = document.getElementById("tEnd");
    tBeginInput.type="date";
    tEndInput.type="date";

    tBeginInput.valueAsDate= new Date();
    tEndInput.valueAsDate= new Date();
    
    /* Switching between date and datetime temporal inputs */
    function timeDefH(){
        var tBVal = new Date(document.getElementById("tBegin").value);
        var tEVal = new Date(document.getElementById("tEnd").value);
        tBText = tBVal.toISOString().substring(0,16);
        tEText = tEVal.toISOString().substring(0,16);
        console.log("tBText: ")
        console.log(tBText);
        var tBeginInput = document.getElementById("tBegin");
        var tEndInput = document.getElementById("tEnd");
        tBeginInput.type = 'datetime-local';
        tEndInput.type = 'datetime-local';
        tBeginInput.value = tBText;
        tEndInput.value = tEText;
    }
    function timeDefD(){
        var tBVal = new Date(document.getElementById("tBegin").value);
        var tEVal = new Date(document.getElementById("tEnd").value);
        tBText = tBVal.toISOString().substring(0,10);
        tEText = tEVal.toISOString().substring(0,10);
        console.log("tBText");
        console.log(tBText);
        const tBeginInput = document.getElementById("tBegin");
        const tEndInput = document.getElementById("tEnd");
        tBeginInput.type = 'date';
        tEndInput.type = 'date';
        tBeginInput.value = tBText;
        tEndInput.value = tEText;
    }
    
    //Establishing connections to html elements
    const answer = document.getElementById('calculated-area');
    const saveG = document.getElementById('selectGeom');
    const saveN = document.getElementById('selectName');
    const saveD = document.getElementById('selectDesc');
    const saveB = document.getElementById('formButton');

    saveG.innerHTML = `Desenhar um ou mais áreas.`;
    mapDesign.addControl(draw);

    mapDesign.on('draw.create', updateArea);
    mapDesign.on('draw.delete', updateArea);
    mapDesign.on('draw.update', updateArea);

    const numPoly = 0;
    answer.innerHTML = `<strong>${numPoly}</strong>`;

    function limparTudo() {
        document.getElementById("pName").value = '';
        document.getElementById("pDesc").value = '';
        document.getElementById("tBegin").value = '';
        document.getElementById("tEnd").value = '';
        document.getElementById("tDesc").value = '';
    }
    
    function updateArea(e) {
        console.log(e);
        const data = draw.getAll();
        if (data.features.length > 0) {
            //console.log("Data features lenght:")
            //console.log(data.features.length)
            const numPoly = data.features.length
            //const area = turf.area(data);
            // Restrict the area to 2 decimal points.
            //const rounded_area = Math.round(area * 100) / 100;
            answer.innerHTML = `<p><strong>${numPoly}</strong></p>`;
            // Getting coordinates input polygons
            console.log("data features (allPoly):");
            let allPoly = data.features;
            console.log(allPoly);
            let newPoly = data.features[0].geometry.coordinates[0];
            console.log("newPoly:");
            console.log(newPoly);
            geoPoly = JSON.stringify(allPoly);
            console.log("geoPoly");
            console.log(geoPoly);
            nGon = newPoly.length;
            console.log("Saving allPoly")
            
            saveG.innerHTML = `<select name="selectGeom" id="selectGeom"> <option value=${geoPoly}> ${numPoly} área(s)</option> </select>`;
            saveB.innerHTML = `<button type="button" class="btn btn-primary" id="submitGeom" onClick="submit_poly();">Atribua</button>`;
            
        } else {
            answer.innerHTML = '';
            if (e.type !== 'draw.delete')
                alert('Desenhar uma área');
                ;
            nGon=0;
            saveG.innerHTML = `<p>Sim geometria</p>`;
        }
        
    }; 

    function submit_poly() {
        const successA = document.getElementById('successAnnouncement');
        successA.innerHTML = `<p>Saving... </p>`;
        var pNamef = document.getElementById("pName")
        var pDescf = document.getElementById("pDesc")
        var geom = geoPoly
        var tBeginf = document.getElementById("tBegin")
        var tEndf = document.getElementById("tEnd")
        var tDescf = document.getElementById("tDesc")

        var faltas = [];
        if (! pNamef.value) {
            console.log('pNamef: ');
            console.log(pNamef);
            faltas.push(pNamef.placeholder);
            console.log('faltas: ');
            console.log(faltas);
        }
        if (! tBeginf.value) {
            console.log('tBeginf: ');
            console.log(tBeginf);
            faltas.push(" Tempo do início")
        }
        if (! tEndf.value) {
            console.log('tEndf: ');
            console.log(tEndf);
            faltas.push(" Tempo do fim")
        }
        if (faltas.length > 0){
            successA.innerHTML = `<em style="color:red">Falta: ${faltas}</em>`;
            return
        }
        else {
            var entry = {
                type: "Feature",
                properties : {
                    pName: pNamef.value,
                    pDesc: pDescf.value,
                    allDay: tBeginf.type,
                    tBegin: tBeginf.value,
                    tEnd: tEndf.value,
                    tDesc: tDescf.value
                },
                geometry: geom
            };
            console.log(entry);
            
            fetch(`${window.origin}/publisher/${sID}/save_instance`, {
            //fetch(`${window.origin}/save_instance`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function(response) {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                }
                response.json().then(function(data) {
                    console.log(data);
                    successA.innerHTML = `<p> Parabéns! Os dados ficam guardados. </p>`;
                    //window.location.href = 'https://www.google.com';
                }
                );
            })
            .catch(function(error) {
            console.log("Fetch error: " + error);
            });
        }

        

        

    }
</script>

{% endblock %}