<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Localizar as Notícias</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet"> 
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
<style>
    .calculation-box {
        height: 75px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;
        text-align: center;
    }

    p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
    }
</style>


<style>
    .instanceform-box {
        height: 80%;
        width: 400px;
        position: absolute;
        top: 5%;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;
        text-align: center;
    }

    p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
    }
</style>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
<!--<link href="../../static/css/publish.css" rel="stylesheet"> -->
<div id="map"></div>

<div class="calculation-box">
    <p>Click the map to draw a polygon.</p>
    <div id="calculated-area"></div>
    <div style="color:red"><p> Add intersecting freguesias</p></div>
</div>

<div class="instanceform-box" id="save_instance">
    <h2>{{ story["title"] }}</h2>
    
    <h4> Definir uma instância (tempo e sítio) da notícia</h4>
    <p>Cada "instância" é uma oportunidade de elaborar onde e quando uma coisa está a acontacer. Cada notícia pode ter algumas notícias, e cada instância pode ter alguns sítios (polígonos). Escreve um ou mas polígonos aqui, dar um nome (não precisa de ser "oficial") e uma descrição. Definir as datas do início e o fim, um tipo de interval temporal, e afinal um descrição.</p>
    <br>
    <!-- <form method="post", action="/save_instance", method='post'> -->
    <div>   
        <div>
            <h5>Localização/ões</h5>
            <div id="selectName">
                <input type="text" id="pName" name="pName" placeholder="Name" required>
                <span class="error" aria-live="polite"></span>
            </div>
            <br>
            <div id="selectDesc">
                <input type="text" id="pDesc" name="pDesc" placeholder="Spatial description">
            </div>
            <br>
            <div id="selectGeom"></div>
        </div>
        <div>
            <h5>Hora(s)</h5>
            <div>
                <input type="radio" id="allday_y" name="allDay" value="allday_y" onClick="timeDefD()"> <!-- Default: checked="checked" -->
                <label for="allday_y">Todo o dia</label>
                <input type="radio" id="allday_n" name="allDay" value="allday_n" onClick="timeDefH()">
                <label for="allday_n">Horas específicas</label>
            </div>
            <div id="optHours"></div>
            <br>
            <div>
                <input type="text" id="tDesc" name="tDesc" placeholder="Temporal description">
            </div>
        </div>
        <br>
        <div id="formButton"></div>
        <br>
        <br>
        <div id="successAnnouncement">
        </div>
        <br>
        <br>
        <!--
        <button type="button" href="/storyreview">Back to main story</button>
        <button type="button" href="/profile">Profile</button>
        -->
    </div>
    <!-- </form> -->
</div>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

<script>

    
	mapboxgl.accessToken = 'pk.eyJ1IjoiY3dlbnRsaW5nIiwiYSI6ImNqd2F0cmVvajA5bHAzemx6NDF3bmZ6NGsifQ.2qy1Q4WfMf4XFllp2v96HQ';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/cwentling/cksfd4uh6532w18nt3bbtxtae', // style URL
        center: [-9.150404956762742, 38.72493479806579], // starting position [lng, lat]
        zoom: 13 // starting zoom
    });

    // Add the control to the map.
    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );

    const draw = new MapboxDraw({
        displayControlsDefault: false,
        // Select which mapbox-gl-draw control buttons to add to the map.
        controls: {
            polygon: true,
            trash: true
        },
        // Set mapbox-gl-draw to draw by default.
        // The user does not have to click the polygon control button first.
        defaultMode: 'draw_polygon'
    });
    const optHours = document.getElementById('optHours')
    
    function timeDefH(){
        optHours.innerHTML = "<input type='datetime-local' id='tBegin' name='tBegin'><input type='datetime-local' id='tEnd' name='tEnd'>";
    }
    function timeDefD(){
        optHours.innerHTML = '<input type="date" id="tBegin" name="tBegin"> <input type="date" id="tEnd" name="tEnd">';
    }
    
    

    var sID = '{{ sID }}';
    
    console.log("sID is: ");
    console.log(sID);
    

    const answer = document.getElementById('calculated-area');
    const saveG = document.getElementById('selectGeom');
    const saveN = document.getElementById('selectName');
    const saveD = document.getElementById('selectDesc');
    const saveB = document.getElementById('formButton');
    saveG.innerHTML = `*Draw Geometry*`;
    map.addControl(draw);

    map.on('draw.create', updateArea);
    map.on('draw.delete', updateArea);
    map.on('draw.update', updateArea);

    
    
    function updateArea(e) {
        console.log(e);
        const data = draw.getAll();
        if (data.features.length > 0) {
            const area = turf.area(data);
            // Restrict the area to 2 decimal points.
            const rounded_area = Math.round(area * 100) / 100;
            answer.innerHTML = `<p><strong>${rounded_area}</strong></p><p>square meters</p>`;
            // Getting coordinates input polygons
            console.log("data features (allPoly):");
            let allPoly = data.features;
            console.log(allPoly);
            let newPoly = data.features[0].geometry.coordinates[0];
            console.log("newPoly:");
            console.log(newPoly);
            geoPoly = JSON.stringify(allPoly);
            console.log("geoPoly");
            console.log(geoPoly);
            nGon = newPoly.length;
            console.log("Saving allPoly")
            
            saveG.innerHTML = `<select name="selectGeom" id="selectGeom"> <option value=${geoPoly}> This geometry</option> </select>`;
            saveB.innerHTML = `<button id="submitGeom" onClick="submit_poly();">Associate</button>`;
            
        } else {
            answer.innerHTML = '';
            if (e.type !== 'draw.delete')
                alert('Click the map to draw a polygon.');
                ;
            nGon=0;
            saveG.innerHTML = `<p>*No geometry selected*</p>`;
        }
        
    }; 

    function submit_poly() {
        const successA = document.getElementById('successAnnouncement');
        /*successA.innerHTML = `<p>Saving... </p>`;*/
        var pNamef = document.getElementById("pName")
        var pDescf = document.getElementById("pDesc")
        var geom = geoPoly
        var tBeginf = document.getElementById("tBegin")
        var tEndf = document.getElementById("tEnd")
        var tDescf = document.getElementById("tDesc")

        var entry = {
            type: "Feature",
            properties : {
                pName: pNamef.value,
                pDesc: pDescf.value,
                allDay: tBeginf.type,
                tBegin: tBeginf.value,
                tEnd: tEndf.value,
                tDesc: tDescf.value
            },
            geometry: geom
        };
        console.log(entry)
        
        fetch(`${window.origin}/publisher/${sID}/save_instance`, {
        //fetch(`${window.origin}/save_instance`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(function(response) {
            if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                return;
            }
            response.json().then(function(data) {
                console.log(data);
                /*successA.innerHTML = `<p> Congratulations! Your entry was saved </p>`;*/
            }
            );
        })
        .catch(function(error) {
        console.log("Fetch error: " + error);
        });

    }
</script>

<!--
<script>
    const form = document.getElementById('save_instance')[0];

    const vName = document.getElementById('pName');
    const vNameError = document.querySelector('#pName + span.error');
    vName.addEventListener('input', function (event) {
        //Each time the user types something, we check if the form fields are valid
        if (vName.validity.valid) {
            //In case there is an error message visible, if the field is valid, we remove the error message.
            vNameError.innterHTML = ''; //Reset the content of the message
            vNameError.className = 'error'; //reset the visual state of the message
        } else {
            // If there is still an error, show the correct error
            showError();
        }
    });
    form.addEventListener('submit', function (event) {
        if (!vName.validity.valid) {
            // If it isn't, we display the appropriate error message
            showError();
            //Then prevent the form from being sent by canceling the event
            event.preventDefault();
        }
    });
    function showError() {
        if(vName.validity.valueMissing) {
            //If the field is empty display the following error message
            vNameError.textContent ="Enter Title";
        } else if(vName.validity.tooShort) {
            //If the data is too short display the following error message.
            vNameError.textContent = "Title should be at least ${ vName.minLength } characters.";
        }
        //Set the styling
        vNameError.className = 'error active';
    }

</script>
-->


</body>
</html>