{% extends "publisher/templates/publisher_template.html" %}

{% block title %}Review{% endblock %}

{% block main %}

<script src="{{ url_for('static', filename='js/create.js') }}"></script>

<div class="container">
    <div class="row">
      <div class="col">
  
        <h1> {{ story["title"] }} </h1>
        <hr>

        <!-- THIS IS UNTESTED -->
        <div class ="card">
          <div class = "card-body">
            <h2>{{ story["section"] }}, {{ story["pub_date"] }}</h2>
            <h3>{{ story["publication"] }} </h3>
            <p>{{ story["summary"] }}</p>
            <div class="align-right">
              <p><i>{{ story["tags"] }}</i> </p>
            </div>
            
          </div>
        </div>
        
        <div class="card">
          <div class = "card-body">
            <h2>Distribuição Geo-espacial/temporal</h2>
            <a href="/publisher/localize"><button type="button" class="btn btn-primary">Associar localização</button></a>
              <p>(This is where the map of existing instances will go)</p>
          </div>
        </div>

        <div>
          <a href="/publisher/localize"><button type="button" class="btn btn-primary">Ver</button></a>
        </div>



      </div>
    </div>
  </div>



{% endblock %}