/* Variable Definition */
:root {
    --primary-color: rgba(155, 185, 193);
    --shadow-color: rgba(0,0,0,0.3);
}

.map {
    height: 400px;
    width: 98%;
    position: center;
    margin: 10px;
    box-shadow: -10px 5px 20px var(--shadow-color);
    border-radius: 5px;
}
.map:-webkit-full-screen {
    height: 100%;
    margin: 0;
}
.map:-ms-fullscreen {
height: 100%;
}
.map:fullscreen {
height: 100%;
}
.map .ol-rotate {
top: 3em;
}

.wrapper {
    position:relative;
}
#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: rgba(0,60,136,0.4);
    width: 0;
    transition: width 250ms;
}

/* MULTICHECK BOX */

.MultiCheckBox {
    border:1px solid #e2e2e2;
    padding: 5px;
    border-radius:5px;
    cursor:pointer;
}

.MultiCheckBox .k-icon{ 
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color:#787878;
} 

.MultiCheckBoxDetail {
    display:none;
    position:relative; /*cgw updated! Originally absolute (must scroll to find if filter is already scrolled). Fixed gets lost if scrolled. Sticky & static makes incur spaces to accommodate the list but its clear where it is and returns after*/
    border:1px solid #e2e2e2;
    background-color:#ffffff;
    overflow-y:hidden;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}

    .MultiCheckBoxDetail .cont  {
        clear:both;
        overflow: hidden;
        padding: 2px;
    }

    .MultiCheckBoxDetail .cont:hover  {
        background-color:#cfcfcf;
    }

    .MultiCheckBoxDetailBody > div > div {
        float:left; 
    }

.MultiCheckBoxDetail>div>div:nth-child(1) {

}

.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#3d3d3d;
}

    .MultiCheckBoxDetailHeader>input {
        position: absolute;
        top: 4px;
        left: 3px;
    }

    .MultiCheckBoxDetailHeader>div {
        position: absolute;
        top: 5px;
        left: 24px;
        color:#fff;
    }

    /* Distributing screen */
    .split {
        
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .top {
        top: 0;
        height: 60%;
        position: fixed;
        /*overflow: hidden;*/
    }

    .bottom {
        bottom: 0;
        height: 40%;
        position: fixed;
        overflow-x: auto;
        overflow-y: auto;
    }

    /* Filter Elements in a Line */
    .filterLine {
        white-space: nowrap;
        overflow-x: auto;
        padding-top: 10px;
    }
    .filterItem {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
    }

    /* 
    Skeleton Loading 
    https://www.foolishdeveloper.com/2021/09/skeleton-screen-loading-animation.html
    */
    .resultsStory {
        /*display: flex;*/
        align-items: left;
        justify-content: left;
        /*height: 135px;*/
        background: #d9d9d9;
        overflow-x: auto;
        white-space: nowrap;
    }

    .story-card {
        width: 300px;
        height: 100px;
        margin: 10px;
        box-shadow: -10px 5px 20px var(--shadow-color);
        border-radius: 5px;
        overflow: hidden;
        background: black;
        color: white;
        display: inline-block; /*previously: flex*/
        flex-direction: column; /*column*/
        align-items: center;
        justify-content: space-between;
        transition: box-shadow 0.2s ease-in;
        cursor: pointer;
    }

    .story-card:hover {
        box-shadow: -10px 10px 20px rgba(0,0,0,0.4);
        font-weight: bold;
    }

    .story-card .story-title {
        height: 30px;
        width: 100%;
        font-size: 16px;
        padding: 5px;
        text-align: left;
        position: relative;
        background: var(--primary-color);
    }

    .story-card .story-details{
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 90%
    }

    .story-card .story-details .pub-date {
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 600;
    }

    .story-card .story-details .story-section {
        font-size: 10px;
        color: var(--primary-color);
        font-weight: 500;
    }

    .story-card .story-details .story-tags {
        margin-top: 5px;
        font-size: 12px;
        color: #666;
    }

    .resultsInstance {
        /*display: flex;*/
        align-items: left;
        justify-content: left;
        /*height: 135px;*/
        background: #d9d9d9;
        overflow-x: auto;
        white-space: nowrap;
    }

    .instance-card {
        width: 300px;
        height: 100px;
        margin: 10px;
        box-shadow: -10px 5px 20px var(--shadow-color);
        border-radius: 5px;
        overflow: hidden;
        background: var(--primary-color);
        color: white;
        display: inline-block; /*previously: flex*/
        flex-direction: column; /*column*/
        align-items: center;
        justify-content: space-between;
        transition: box-shadow 0.2s ease-in;
        cursor: pointer;
    }

    .instance-card:hover {
        box-shadow: -10px 10px 20px rgba(0,0,0,0.4);
        font-weight: bold;
    }

    .instance-card .instance-title {
        height: 30px;
        width: 100%;
        font-size: 16px;
        padding: 5px;
        text-align: left;
        position: relative;
        background: white;
        color: black;
    }

    .instance-card .instance-details{
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 90%;
    }

    .instance-card .instance-details .instance-timeframe {
        margin-bottom: 5px;
        font-size: 10px;
        font-weight: 600;
    }

    .instance-card .instance-details .instance-datetime {
        font-size: 10px;
        color: white;
        font-weight: 500;
    }

    .instance-card .instance-details .instance-extra {
        margin-top: 5px;
        font-size: 12px;
        color: #666;
    }

    /*
    .story-card.skeleton .story-title{
        background: #e2e2e2;
    }
    .story-card.skeleton .story-details .story-section{
        display: none;
    }

    .story-card.skeleton .story-details .story-section::after{
        content: "";
    }

    .story-card.skeleton .hide-text {
        background: #e2e2e2;
        color: transparent;
        position: relative;
        overflow: hidden;
    }

    .story-card.skeleton .hide-text::before {
        content: "";
        position: absolute;
        left: 0%;
        top: 0;
        height: 100%;
        width: 50px;
        background: linear-gradiente(to right, #e2e2e2 25%, #d5d5d5 50%, #e2e2e2 100%);
        animation-name: gradient-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        filter: blur(5px);
    }

    @keyframes gradiente-animation {
        from {
            left: 0%;
        }
        to {
            left: 100%;
        }
    }
    */

    .story-deets {
        border-radius: 5px;
        position: fixed;
        width: 80%;
        max-height: 80%;
        top: 10%;
        left: 10%;
        font-size: 14px;
        background-color: rgba(0,0,0,.75);
        box-shadow: -10px 5px 20px var(--shadow-color);
        color: white;
        margin: 10px;
        overflow-y: auto;
    }

    .story-deets .close{
        font-size: 20px;
        height: 30px;
        font-weight: bold;
        padding-right: 10px;
        text-align: right;
        background-color: var(--primary-color);
        color: black;
        cursor:pointer;
    }

    .story-deets .close:hover{
        font-size:30px;
    }

    .story-deets .deets-title {
        text-align: center;
        top: 2%;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color:var(--primary-color);
    }

    .story-deets .deets-author {
        text-align: center;
    }

    .story-deets .deets-section {
        text-align: center;
    }

    .story-deets .deets-pubdate {
        text-align: center;
    }

    .story-deets .deets-tags {
        padding: 10px;
        font-style: italic;
        text-align: left;
    }

    .story-deets .deets-summary {
        padding: 10px;
        font-size: 16px;
        text-align: justify;

    }

    .story-deets .deets-button {
        text-align: center;
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100%;
        bottom: 1%;
        font-weight: bold;
        color: var(--primary-color);
    }

    .story-deets .deets-button:hover {
        font-size: 20px;
        padding: 5px;
    }
    
    .mapStory {
        position: relative;
        padding: 1%;
        width: 98%;
        height: 300px;
        margin: 10px;
    }

    .mapStory:-webkit-full-screen {
        height: 100%;
        margin: 0;
    }
    .mapStory:-ms-fullscreen {
    height: 100%;
    }
    .mapStory:fullscreen {
    height: 100%;
    }
    .mapStory .ol-rotate {
    top: 3em;
    }


    /* INSTANCE CARD DEETS*/
    .instance-deets {
        border-radius: 5px;
        position: fixed;
        width: 80%;
        max-height: 80%;
        top: 10%;
        left: 10%;
        font-size: 14px;
        background-color: var(--primary-color);
        box-shadow: -10px 5px 20px var(--shadow-color);
        color: white;
        margin: 10px;
        overflow-y: auto;
    }

    .instance-deets .close{
        font-size: 20px;
        height: 30px;
        font-weight: bold;
        padding-right: 10px;
        text-align: right;
        background-color: white;
        color: black;
        cursor:pointer;
    }

    .instance-deets .close:hover{
        font-size:30px;
    }

    .instance-deets .deets-title {
        text-align: center;
        top: 2%;
        font-size: 20px;
        font-weight: bold;
        color: black;
        background-color:white;
    }
    .instance-deets .deets-dateframe {
        text-align: center;
    }
    .instance-deets .deets-timeframe {
        text-align: center;
    }

    .instance-deets .deets-tdesc {
        padding: 10px;
        font-style: italic;
        text-align: left;
    }

    .instance-deets .deets-pdesc {
        padding: 10px;
        font-size: 16px;
        text-align: justify;

    }

    .instance-deets .deets-button {
        text-align: center;
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100%;
        bottom: 1%;
        font-weight: bold;
        color: var(--primary-color);
    }

    .story-deets .deets-button:hover {
        font-size: 20px;
        padding: 5px;
    }