:root {
    --pub-color: black;
    --fill-color: rgba(255,255,255,.6);
    --stroke-color: rgba(255,255,255,1);
    --shadow-color: rgba(0,0,0,.6);
}

#iframeH {
    height: 510px;
    width: 100%;
}

.button {
    background-color: var(--pub-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: -10px 5px 20px var(--shadow-color); 
}

.button:hover {
    font-weight: bold;
    font-size: 15px;
    box-shadow: -10px 10px 20px var(--shadow-color); 
}

.button2 {
    background-color: white;
    border: 3px solid var(--pub-color);
    color: var(--pub-color);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: -5px 5px 5px var(--shadow-color); 
}
.button2:hover {
    font-weight: bold;
    font-size: 11px;
    box-shadow: -5px 10px 5px var(--shadow-color); 
}

.split {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
    background: white;
    height: 30%;
    width: 40%;
    margin: 10px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 5px;
    bottom: 0;
}

.map {
    height: 30%;
    width: 57%;
    position: fixed;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: white;
    bottom: 0;
}


.ol-popup {
    color: var(--pub-color);
    font-size: 12px; /*This only changes hte size of hte x. Where is the size of hte content??*/
    z-index:10;
}

.popupContent {
    font-size: 8px;
}

.instanceInst {
    overflow: auto;
}

.instInstText {
    background: var(--pub-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    width: 100%;
    padding: 10px;
}

/*NO ARTICLE AREA STYLING*/
.noticiaArea {
    margin: 10px;
    padding: 20px;
    background: white;
    box-shadow: -10px 5px 20px var(--shadow-color);
    border-radius: 5px;
    height: 80%;
    overflow-y: auto;

}
.noticiaTitle {
    color: var(--pub-color);
    font-weight: bold;
    font-size: 32px;
}
.noticiaPubDate {
    color: grey;
    font-size: 20px;
    position: relative;
    right: 0;
    align-content: right;
}
.noticiaPublication {
    color: var(--pub-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 0;
    align-content: right;
}

/*NO INSTANCE STYLING*/
.noInstanceArea {
    position: absolute;
    right: 10%;
    bottom: 20px;
}


/**********/
/* JORNAL MAL STYLING */
/**********/

.jTitle {
    position: fixed;
    padding: 10px;
    width: 100%;
    background: var(--pub-color);
    text-align: center;
}

.seeSections {
    position: center;
    width: 80%;
    padding: 10px;
    height: 60%;
}

.centerArea{
    width: 100%;
    height: 60%;
    position: fixed;
}


.seeAuthors {
    left: 0;
    width: 20%;
    padding: 10px;
    display: inline-block;
    height: 100%;
    overflow-y: auto;
}

.mapArea {
    display: inline-block;
    width: 50%;
}

.seeTags{
    right: 0;
    width: 20%;
    padding: 10px;
    display: inline-block;
    overflow-y: auto;
    height: 100%;
}