:root {
    --pub-color: black;
    --pub-colorL: black;
    --fill-color: rgba(255,255,255,.6);
    --stroke-color: rgba(255,255,255,1);
    --shadow-color: rgba(0,0,0,.6);
}

#iframeH {
    height: 510px;
    width: 100%;
}

.button {
    background-color: var(--pub-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: -10px 5px 20px var(--shadow-color); 
}

.button:hover {
    font-weight: bold;
    font-size: 15px;
    box-shadow: -10px 10px 20px var(--shadow-color); 
}

.button2 {
    background-color: white;
    border: 3px solid var(--pub-color);
    color: var(--pub-color);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: -5px 5px 5px var(--shadow-color); 
}
.button2:hover {
    font-weight: bold;
    font-size: 11px;
    box-shadow: -5px 10px 5px var(--shadow-color); 
}

.split {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
    background: white;
    height: 30%;
    width: 40%;
    margin: 10px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 5px;
    bottom: 0;
}

.map {
    height: 30%;
    width: 57%;
    position: fixed;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: white;
    bottom: 0;
}

.skeleton {
    filter: blur(5px);
    cursor: wait;
}


.ol-popup {
    color: var(--pub-color);
    font-size: 12px; /*This only changes hte size of hte x. Where is the size of hte content??*/
    z-index:10;
}

.popupContent {
    font-size: 8px;
}

.instanceInst {
    overflow: auto;
}

.instInstText {
    background: var(--pub-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    width: 100%;
    padding: 10px;
}

/*NO ARTICLE AREA STYLING*/
.noticiaArea {
    margin: 10px;
    padding: 20px;
    background: white;
    box-shadow: -10px 5px 20px var(--shadow-color);
    border-radius: 5px;
    height: 80%;
    overflow-y: auto;

}
.noticiaTitle {
    color: var(--pub-color);
    font-weight: bold;
    font-size: 32px;
}
.noticiaPubDate {
    color: grey;
    font-size: 20px;
    position: relative;
    right: 0;
    align-content: right;
}
.noticiaPublication {
    color: var(--pub-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 0;
    align-content: right;
}

/*NO INSTANCE STYLING*/
.noInstanceArea {
    position: absolute;
    right: 10%;
    bottom: 20px;
}


/**********/
/* JORNAL MAL STYLING */
/**********/

.jTitle {
    position: static;
    padding: 10px;
    width: 100%;
    color: black;
    text-align: center;
    height: 70px;
}

.seeSections {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 50px;
}
.sectionB {
    background: none;
    color: var(--pub-color);
    border: none;
    width: 100px;
}
.sectionB:hover{
    font-weight: bold;
}

.maisB {
    background: var(--pub-colorL);
    color: white;
    border: none;
    border-radius:20px;
    margin: 0,0,0, 15px;
}

.maisB:hover {
    background: var(--pub-color);
    color: white;
    border: none;
    border-radius:20px;
    margin: 0,0,0, 15px;
}

.centerArea{
    width: 100%;
    height: 450px;
    position: absolute;
    padding: 20px;
}

.seeFilters{
    width: 25%;
    height: 100%;
    overflow-y: auto;
    display: inline-block;
}

.seeAuthors, .seeTags {
    left: 0;
    width: 100%;
    padding: 10px;
}

.filtrarB {
    padding: 10px;
    margin: 10px;
}

.mapArea {
    display: inline-block;
    width: 70%;
}

.mapAll {
    height: 450px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: white;
    top: 0px;
}



/* MULTICHECK BOX */

.MultiCheckBox {
    border:1px solid var(--pub-color);
    padding: 5px;
    border-radius:5px;
    cursor:pointer;
}

.MultiCheckBox .k-icon{ 
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color:var(--pub-colorL);
} 

.MultiCheckBoxDetail {
    display:none;
    position:relative; /*cgw updated! Originally absolute (must scroll to find if filter is already scrolled). Fixed gets lost if scrolled. Sticky & static makes incur spaces to accommodate the list but its clear where it is and returns after*/
    border:1px solid var(--pub-color);
    background-color:#ffffff;
    overflow-y:hidden;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}

    .MultiCheckBoxDetail .cont  {
        clear:both;
        overflow: hidden;
        padding: 2px;
    }

    .MultiCheckBoxDetail .cont:hover  {
        background-color:var(--pub-colorL);
    }

    .MultiCheckBoxDetailBody > div > div {
        float:left; 
    }

.MultiCheckBoxDetail>div>div:nth-child(1) {

}

.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:var(--pub-color);
}

    .MultiCheckBoxDetailHeader>input {
        position: absolute;
        top: 4px;
        left: 3px;
    }

    .MultiCheckBoxDetailHeader>div {
        position: absolute;
        top: 5px;
        left: 24px;
        color:#fff;
    }

.timeArea {
    bottom: 0px;
    position: fixed;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: center;

}
/* SLIDERS */
.wrapperSlider{
    position: fixed;
    bottom: 0px;
    width: 90%;
    background-color: transparent;
    padding:0 20px 20px;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}
.containerSlider{
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 0px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: var(--pub-color);
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--pub-color);
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--pub-color);
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid var(--pub-color);
}
.valuesSlider{
    background-color: var(--pub-color);
    position: relative;
    width: 32%;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
.valuesSlider:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid var(--pub-color);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}