body {
    background-color: #f1f1f1;
}


h1 {
    color:#f25a41;
    font-family: verdana;
    font-size: 32px;
    font-weight: bolder;
}
h2 {
    font-size: 24px;
    font-weight: bolder;
}
h3 {
    font-size: 18.72px;
    font-weight: bolder;
}
h4 {
    font-size: 16px;
    font-weight: bolder;
}
h5 {
    font-size: 13.28px;
    font-weight: bolder;
}
h5 {
    font-size: 10.72px;
    font-weight: bolder;
}

p {
    font-family:verdana;
    font-size: 16px;
}

/* Inputs */
input:required,
textarea:required {
    border-color:  red ; /*!important*/
}
input:required:invalid {
     border-color: red;
}

input:required:valid {
    border-color: green;
}

input:required + label {
    color: red;
}

form {
    padding: 10px;
    /*max-width: 500px;*/
    max-width: 98%;
    
}
form div {
    padding: 5px
}
input {
    width: 100%
}

textarea {
    width: 100%;
}
.align-right {
    text-align:right;
    border: 0;
}

/* The modal (background) */
.modal {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /*back w/opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Close Modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.cozycheck input{
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    }
    
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}
    
/* Style the collapsible content. Note: hidden by default */
.ccontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
    
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
    
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #21f344;
    -webkit-transition: .4s;
    transition: .4s;
}
    
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
    
input:checked + .slider {
    background-color: #2196F3; 
    /*background-image: url(https://fonts.googleapis.com/icon?family=Material+Icons)*/
}
    
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
    
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
    
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
    
.slider.round:before {
    border-radius: 50%;
}
    
div.container1 {
    text-align: center;
}

/*Align horizontall */
#containerGaz {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:32%;

}

#center {
    display: inline-block;
    margin:0 auto;
    width:32%;

}

#right {
    float:right;
    width:32%;

}

/*Loading*/

#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/* STYLE SELECT */
select {
    width: 100%;
}

/*Grid*/
.grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
}

.containerG {
    width: 100%;
    height: 10em;
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;
}

.itemG {
    padding: 10px;
}

/* Scaled iFram */
#wrap {
    width: 750px;
    height: 1500px;
    padding: 0;
    overflow: hidden;
}

#scaled-frame{
    width: 1000px;
    height: 2000px;
    border: 0px;
}

#scaled-frame {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
        zoom: 1;
    }
}

